.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
}
.tab {
    background: #fff;
    flex: 1;
    padding: 7px;
    text-align: center;
    border-bottom: 1px solid #cfcfcf;
    cursor: pointer;
    position: relative;
}
.active-tab {
    background: #fff;
    border-bottom: 2px solid black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    animation: new 0.5s;
}
@keyframes new {
    from {
        top: 10px;
        left: 0;
        right: 0;
        background: #f6f6f6;
    }
    to {
        top: 0px;
        left: 0;
        right: 0;
        border-bottom: 2px solid black;
    }
}

.contents {
    flex-grow: 1;
    position: relative;
}
.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}
.active-content {
    display: block;
    padding: 20px;
    transition: all 1s ease-in-out;
    height: 330px;
    
    /* 스크롤바(scroll) 설정 */
    overflow: auto;
}
/* 스크롤바(scroll) 설정 */
.active-content::-webkit-scrollbar {
    width: 4px;
    background-color: #cfcfcf;
  }

.content h2 {
    padding: 0px 0px 5px 0px;
}
.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}
.content p {
    width: 100%;
    height: 100%;
}

.btn-upload {
    width: 100%;
    height: 100%;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#file {
display: none;
}

/* 팝업창 - 참석자 - 친구/그룹 버튼 */
.typeButton {
    height: 40px;
    width: 59px;
    border-radius: 5px;
    background: #5f6561;
    color: white;
    font-weight: bold;
    margin-right: 6px;
}
.active-typeButton {
    animation: change 0.5s;
    
    height: 40px;
    width: 59px;
    border-radius: 5px;
    background: #265136;
    color: white;
    font-weight: bold;
    margin-right: 6px;
}
@keyframes change {
    from {
        left: 0;
        right: 0;
        background: #f6f6f6;
    }
    to {
        left: 0;
        right: 0;
    }
}
/* 팝업창 - 참석자 - 그룹 항목 */
.groupTab {
    min-width: 180px;
    height: 40px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #2478FF;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
}
.groupTab:hover {
    background: #0054FF;
    font-weight: bold;
}

/* 팝업창 - 참석자 - 추가/취소 버튼 */
.add-cancel-button {
    border: 1px solid #888988;
    height: 30px;
    width: 65px;
    border-radius: 20px;
    background: #DBF1D8;
    color: #0F2C1A;
    font-weight: bold;
    margin-right: 6px;
    font-size: 12px;
}

.add-cancel-button:hover {
    border: 1px solid #888988;
    height: 30px;
    width: 65px;
    border-radius: 20px;
    background: #C4E4C0;
    color: #0F2C1A;
    font-weight: bold;
    margin-right: 6px;
    cursor: pointer;
}

/* 팝업창 - 일정 - 종일, 오늘, D-day 버튼 (일반, 활성화) */
.calanderButton {
    border: 1px solid #888988;
    height: 30px;
    width: 65px;
    border-radius: 20px;
    background: #DBF1D8;
    color: #0F2C1A;
    font-weight: bold;
    margin-right: 6px;
    font-size: 12px;
}

.calanderButton:hover {
    border: 1px solid #888988;
    height: 30px;
    width: 65px;
    border-radius: 20px;
    background: #C4E4C0;
    color: #0F2C1A;
    font-weight: bold;
    margin-right: 6px;
    cursor: pointer;
}

.active-calanderButton {
    animation: cal 0.5s;
    
    height: 40px;
    width: 59px;
    border-radius: 5px;
    background: #265136;
    color: white;
    font-weight: bold;
    margin-right: 6px;
}
@keyframes cal {
    from {
        left: 0;
        right: 0;
        background: #f6f6f6;
    }
    to {
        left: 0;
        right: 0;
    }
}

 /* 팝업창 - 참석자 - 친구/그룹 box 영역 */
.lists {
    flex-grow: 1;
    position: relative;
}
.list {
    display: none;
    position: relative;
}
.active-list {
    display: block;
    transition: all 1s ease-in-out;
}

/* 팀소개(IntroduceTeam) start */
.it-body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #56ccf2 0%, #2f80ed 100%);
}
.it-wrapper .it-outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.it-wrapper .it-card{
  background: #fff;
  width: 430px;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.it-outer:hover .it-card{
  animation-play-state: paused;
}
.card1 {
    animation: animate 15s linear infinite;
    animation-delay: -3s;
}
.card2 {
    animation: animate 15s linear infinite;
    animation-delay: 0s;
}
.card3 {
    animation: animate 15s linear infinite;
    animation-delay: 3s;
}
.card4 {
    animation: animate 15s linear infinite;
    animation-delay: 6s;
}
.card5 {
    animation: animate 15s linear infinite;
    animation-delay: 9s;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}

.it-card .it-content{
  display: flex;
  align-items: center;
}
.it-wrapper .it-card .it-img{
  height: 90px;
  width: 90px;
  position: absolute;
  left: -5px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.it-card .it-img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.it-card .it-details{
  margin-left: 80px;
}
.it-details span{
  font-weight: 600;
  font-size: 18px;
}
.it-card a{
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #56ccf2 0%, #2f80ed 100%);
  transition: all 0.3s ease;
}
.it-card a:hover{
  transform: scale(0.94);
}

.it-details p {
  font-size: 13px;
}
/* 팀소개(IntroduceTeam) end */


/* 로그인(Login) start */

.l-titleWrap {
  margin-top: 40px;
  font-family: "KimjungchulMyungjo-Bold";
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #256136;

  margin: 40px 25px 40px 25px;
}

.l-inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 20px;
  /* margin-top: 5px;
  margin-bottom: 15px; */
  border: 2px solid #cfcfcf;

  height: 60px;
  width: 550px;
  margin: 5px 25px 15px 25px;
}

.l-inputWrap:focus-within {
  border: 2px solid #256136;
}

.l-input {
  outline: none;
  border: none;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
}

.l-input::placeholder {
  color: #cacaca;
}

.l-loginButton {
  height: 60px;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #256136;
  color: #ffffff;
  cursor: pointer;
  
  width: 540px;
  margin: 10px 30px 20px 30px;
}

.l-kakaoButton {
  height: 60px;
  border: 1px solid #cfcfcf;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #fee500;
  color: #000000;
  
  width: 540px;
  margin: 0px 30px 20px 30px;
}
.l-googleButton {
  height: 60px;
  border: 1px solid #cfcfcf;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #ffffff;
  color: #595959;

  width: 540px;
  margin: 10px 30px 10px 30px;
}

.l-signupButton {
  padding: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #2c9d1b;
}
/* 로그인(Login) end */

/* 아코디언(accordion) style start */
.f-container {
  /* margin: 0 30px 0 30px; */
}

.f-accordion-faq .f-active {
  display: block;
}

.f-accordion-faq .f-inactive {
  display: none;
}

.f-accordion-faq > div {
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;

  /* 즐겨찾기 상단 border */
  border-top: 1px solid #cfcfcf;

  /* 즐겨찾기 하단 border */
  /* border-bottom: 1px solid #cfcfcf; */
}

.f-accordion-faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 44px;
  padding-right: 15px;
  color: grey;
  cursor: pointer;
  
  /* 즐겨찾기 탭 배경화면 및 글씨 색상 */
  /* background: black;
  color: white; */
}

.f-accordion-faq-heading h3 {
  font-weight: 600;
}
/* 아코디언(accordion) style end */